<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <div class="main-help-about-container">
            <h2>
                Lorem ipsum
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc urna  tortor, fermentum et rhoncus eu, efficitur nec nulla. Maecenas nibh leo, accumsan ornare lacus eu, aliquam imperdiet dui. Sed sit amet mattis  urna. Maecenas et elementum massa, quis feugiat ex. Ut a suscipit  ligula, ut dapibus ante. Orci varius natoque penatibus et magnis dis  parturient montes, nascetur ridiculus mus. Ut sem ante, facilisis ut  mauris nec, efficitur porta turpis. Proin efficitur purus quis purus  lobortis bibendum. Aenean eu nisl consequat,             </p>
            <img src="${static.url('images/about-logos.png')}" width="955"/>
        </div>
    </section>
</main>