<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <div class="main-help-about-container">
            <div class="about-top-container">
                <div class="padding-left-30 min-width-300">
                    <h2 class="margin-top-100">
                        Kim jesteśmy?
                    </h2>
                    <p class="max-width-600">
                        Jesteśmy częścią serwisu podyplomie.pl – lidera rzetelnej i praktycznej
                        edukacji medycznej . Tworzymy przestrzeń, w której możesz zdobywać
                        najnowszą, specjalistyczną i dostosowaną do Twoich potrzeb wiedzę, rozwijać
                        praktyczne umiejętności i potwierdzać kompetencje poprzez akredytowane
                        kursy online. Naszym celem jest wspieranie Cię w codziennej pracy lekarskiej
                        oraz w długofalowym rozwoju zawodowym.
                    </p>
                </div>
                <div class="about-image-container">
                    <img class="about_us_bg" src="${static.url('images/about_us_bg.png')}"/>
                    <img class="about_us_photo" src="${static.url('images/about_us_photo.png')}"/>
                </div>
            </div>
            <div class="separator"></div>
            <h2>
                Co oferujemy?
            </h2>
            <p>
                Znajdziesz u nas szeroką ofertę kursów online przygotowanych przez
                ekspertów i praktyków klinicznych. Nasze szkolenia obejmują różne
                specjalizacje – od medycyny rodzinnej, interny i pediatrii, po dermatologię,
                kardiologię czy chirurgię. Każdy kurs zawiera praktyczne wskazówki, aktualne
                wytyczne i materiały multimedialne, które pozwalają lepiej przyswajać wiedzę i
                stosować ją w praktyce.
            </p>
            <h2>
                Jak uczymy?
            </h2>
            <p>
                Edukacja na naszej platformie to nauka na Twoich zasadach. Możesz korzystać
                z kursów w dowolnym miejscu i czasie – na komputerze, tablecie czy telefonie.
                Wideo, testy, quizy i materiały do pobrania sprawiają, że wiedza jest podana w
                przystępny i angażujący sposób. Wiele kursów daje także możliwość zdobycia
                punktów edukacyjnych, co dodatkowo wspiera Twoją ścieżkę zawodową.
            </p>
            <h2>
                Dlaczego warto?
            </h2>
            <p>
                Czerpiąc z doświadczenia podyplomie.pl, gwarantujemy dostęp do najwyższej
                jakości treści medycznych, tworzonych przez najlepszych specjalistów z kraju i
                zza granicy. Nasze kursy są praktyczne, zawierają aktualne wytyczne. Dzięki
                rzetelnemu i przystępnemu omówieniu tematów masz pewność, masz pewność,
                że uczysz się tego, co naprawdę istotne i przydatne w codziennej pracy. Naszą
                misją jest ułatwienie Ci rozwoju zawodowego, pogłębienie wiedzy, zdobycie
                nowych umiejętności. Edukacja z nami jest źródłem realnych korzyści.
            </p>
<!--            <img src="${static.url('images/about-logos.png')}" width="955"/>-->
        </div>
    </section>
</main>