<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Help")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Help")}</%block>
        </h1>
        <div class="main-help-about-container">
            <h2>
                Jak zapisać się na kurs?
            </h2>
            <p>
                Wybierz kurs, który Cię interesuje i dokonaj płatności na podyplomie.pl . Po
                pomyślnym zakupie automatycznie otrzymasz dostęp do kursu.
            </p>
            <h2>
                Czy za udział w kursie otrzymam punkty edukacyjne?
            </h2>
            <p>
                Tak, większość kursów pozwala zdobyć punkty edukacyjne zgodnie z
                wymogami ustawowymi. Informacja o liczbie punktów znajduje się w opisie
                kursu.
            </p>
            <h2>
                Jak długo mam dostęp do kursu?
            </h2>
            <p>
                Dostęp do kursu jest nieograniczony czasowo, chyba że w opisie kursu
                zaznaczono inaczej.
                <!--                <ul>-->
<!--                    <li>Transmisję ONLINE z kongresu - umożliwiamy udział w wydarzeniu na dowolnym urządzeniu, nasza platforma dostosowana jest do odtwarzania  wykładów na telefonach komórkowych oraz laptopach.</li>-->
<!--                    <li>Dyskusje na żywo z wykładowcami - po każdej zakończonej sesji prelegenci wezmą udział w sesji pytań i odpowiedzi.</li>-->
<!--                    <li>Certyfikat uczestnictwa z przyznanymi punktami edukacyjnymi - każda osoba uczestnicząca w wydarzeniu otrzyma poświadczenie udziału w wersji elektronicznej</li>-->
<!--                    <li>Specjalna Torba Szkoleniowa a w niej:</li>-->
<!--                </ul>-->
<!--                <ul class="small-ul">-->
<!--                        <li class="small-dotted">Zeszyt szkoleniowy z prezentacjami - materiały z wykładów zostaną  udostępnione uczestnikom przed wydarzeniem w formie papierowej i  elektronicznej.</li>-->
<!--                        <li class="small-dotted">Aktualne czasopismo z oferty Medical Tribune - wybrany magazyn lidera na krajowym rynku fachowej prasy medycznej.</li>-->
<!--                        <li class="small-dotted">Wydanie specjalne „Magazynu podyplomie.pl” - materiał edukacyjny  przygotowany specjalnie na potrzeby AKADEMII LEKARZA.</li>-->
<!--                </ul>-->
            </p>
            <h2>
                Czy mogę korzystać z platformy na telefonie lub tablecie?
            </h2>
            <p>
                Tak, nasza platforma jest w pełni responsywna i działa na każdym
                urządzeniu z dostępem do internetu.
            </p>

            <h2>
                Co zrobić, jeśli zapomniałem hasła?
            </h2>
            <p>
                Skorzystaj z opcji „Przypomnij hasło” na stronie logowania — otrzymasz link
                resetujący na podany podczas rejestracji adres e-mail.
            </p>
        </div>

        <div class="bottom-help-container">
            <div class="bottom-help-left-container">
                <h2 class="bottom-h2">Masz pytania?<br>
                    Zadzwoń lub napisz do nas!</h2>
                <p class="bottom-p">Biuro Obsługi Klienta<br>
                    801 044 415<br>
                    +48 (22) 444 24 44<br>
                    kontakt@akademialekarza.online
                </p>
            </div>
<!--            <div class="padded-bottom-help-text-container">-->
<!--                <h2 class="bottom-h2">Chcesz zostać sponsorem lub patronem kursu?<br>-->
<!--                    Skontaktuj się z nami</h2>-->
<!--                <div class="help-avatar-container">-->
<!--                    <img class="help-avatar" src="${static.url('images/help-avatar.png')}"/>-->
<!--                    <p class="bottom-p">Weronika Włostowska<br>-->
<!--                        Senior Key Account Manager<br>-->
<!--                        +48 501 076 131<br>-->
<!--                        w.wlostowska@medical-tribune.pl-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </section>
</main>